body {
	/* background-color: silver; */
	font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif;

}
h3 {
	margin-top: 0px;
}


/* MAIN MODE CONTAINER ------------------------------------ */
div#mainModeContainer {
	border: 1px dashed red;
}
ul#mylist1 {
	list-style-type: none;
	font-size: 18px;
	border: 1px dotted blue;
}
ul#mylist1 li {
	margin-left: -10px;

}
ul#mylist1 li span {
	margin-left: 8px;
}	


/* LOWER MENU --------------------------------------------- */
#lowerMenu {
	font-size: 75%;
	color: red;
}
#lowerMenu #addItem:hover,
#lowerMenu #editList:hover {
	text-decoration: none;
	color: white;
	background-color: red;	
}
#lowerMenu #addItem {
	margin-left: 60px;
	color: red;
}
#lowerMenu #editList{
	margin-left: 10px;
	color: red;
}



/* NEW ITEM CONTAINER ------------------------------------- */
#newItemContainer {
	display: none;
	margin-left: 30px;
}
#newItemContainer input {
	width: 40em;
}
#newItemContainer button {
	margin-top: 20px;
	font-weight: bold;
	/* background-color: #CCE6FF; */
}
#newItemContainer a {
	color: red;
	margin-left: 10px;
	font-size: 75%;
}
#newItemContainer a:hover {
	color: white;
	background-color: red;
	text-decoration: none;
}





/* EDIT MODE CONTAINER ------------------------------------ */

#editModeContainer {
	display: none;             /* start hidden -- show later */
	/* margin-left: 30px; */
	border: 1px dotted green;
}

#editModeContainer h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

#editModeContainer p {
	margin-top: 10px;
	color: saddlebrown;
}
#editModeContainer li {
	list-style-type: none;
	border: 1px dotted orange;
	margin-left: -30px;
	padding: 5px;
}
#editModeContainer .editText {
	width: 90%;
	font-size: 18px;
}


/* EDIT MODE CONTAINER -- MENU ---------------------------- */
#editModeContainer div.menu {
	margin-left: 10px;
	background-color: #F0F0F0;
	font-size: 75%;
	padding: 5px;
}
#editModeContainer div.menu button {
	font-weight: bold;
}
#editModeContainer div.menu a {
	color: red;
}
#editModeContainer div.menu a:hover {
	text-decoration: none;
	color: white;
	background-color: red;
}

/* TEMPLATES ---------------------------------------------- */
#templates {
	display: none;

}

fieldset {
	border: 1px solid gray;
}

