body {
	/* background-color: silver; */
	font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif;

}
h3 {
	margin-top: 0px;
}

/* MAIN MODE CONTAINER ------------------------------------ */
div#mainModeContainer {
	border: 1px dashed red;
}
ul#mylist1 {
	list-style-type: none;
	font-size: 18px;
	border: 1px dotted blue;
}
ul#mylist1 li {
	margin-left: -10px;

}
ul#mylist1 li span {
	margin-left: 8px;
}	


/* LOWER MENU --------------------------------------------- */
#lowerMenu {
	font-size: 75%;
	color: red;
}
#lowerMenu #addItem:hover,
#lowerMenu #editList:hover {
	text-decoration: none;
	color: white;
	background-color: red;	
}
#lowerMenu #addItem {
	margin-left: 60px;
	color: red;
}
#lowerMenu #editList{
	margin-left: 10px;
}



/* NEW ITEM CONTAINER ------------------------------------- */
#newItemContainer {
	display: none;
	margin-left: 30px;
}
#newItemContainer input {
	width: 40em;
}
#newItemContainer button {
	margin-top: 20px;
	font-weight: bold;
	/* background-color: #CCE6FF; */
}
#newItemContainer a {
	color: red;
	margin-left: 10px;
	font-size: 75%;
}
#newItemContainer a:hover {
	color: white;
	background-color: red;
	text-decoration: none;
}





/* EDIT MODE CONTAINER ------------------------------------ */

#editModeContainer {
	display: block;
	/* margin-left: 30px; */
	border: 1px dotted black;
}


/* TEMPLATES ---------------------------------------------- */
#templates {
	display: none;

}

fieldset {
	border: 1px solid gray;
}

